<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="EndpointBehavior0">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="MetadataBehavior0">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="WcfService_Wilayah.Wilayah">
        <endpoint address="http://localhost:1907" behaviorConfiguration="EndpointBehavior0"
          binding="webHttpBinding" bindingConfiguration="" contract="WcfService_Wilayah.IWilayah" />
      </service>
    </services>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>